.ResultadoBusqueda {
    font: 1.2em;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor que incluye los elementos de la página */
.ContenedorMaestro {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* Ocupa al menos el 100% del alto de la ventana */
    padding-bottom: 100px;
    /* Espacio para el footer */
    box-sizing: border-box;
    /* Incluye el padding en el ancho y alto */
}

/* Placeholder para el color de fondo */
.fondogaleria {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    /* Ocupa al menos el 100% del alto de la ventana */
}

/* Boton para cambiar pagina de resultado */
.NavegarResultado {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Boton para cambiar pagina de resultado */
.NavegarResultado button {
    flex-grow: 1;
    max-width: 200px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #A94361;
    border-radius: 5px;
    background-color: #ffffff;
    color: #5E3119;
    cursor: pointer;
    margin-top: -50px;
}

/* Estilo para la barra de búsqueda */
.busqueda {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    width: 80%;
    top: 100px;
    left: 10%;
    gap: 10px;
}

/* Personalizar parte de adentro de barra búsqueda */
.busqueda input {
    padding: 10px;
    width: 100%;
    border: 2px solid #A94361;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #5E3119;
}

/* Botón de búsqueda */
.busqueda button {
    flex-grow: 1;
    /* Los botones crecen para ocupar el espacio disponible */
    max-width: 200px;
    /* Ancho máximo de los botones */
    font-size: 20px;
    padding: 10px;
    border: 2px solid #A94361;
    border-radius: 5px;
    background-color: #ffffff;
    color: #5E3119;
    cursor: pointer;
}

/* Estilo para el contenedor de las imágenes */
.item {
    aspect-ratio: 1/1;
    flex-basis: calc(18% - 20px);
    text-align: center;
    background-color: #A3B18A;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
}

/* Codigo para aumentar tamaño de la imagen al pasar el mouse encima */
img:hover {
    transform: scale(1.2);
    transition-delay: 250ms;
}

img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    transition: transform 250ms ease-in-out;
}

/* Contenedor con las imágenes */
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    padding: 10px;
    gap: 20px;
}

/* 4 Columnas */
@media screen and (min-width: 801px) {
    .item {
        flex-basis: calc(23% - 20px);
    }
}

/* 3 Columnas */
@media screen and (min-width: 650px) and (max-width: 800px) {
    .item {
        flex-basis: calc(30% - 20px);
    }
}

/* Dos columnas */
@media screen and (min-width: 451px) and (max-width: 649px) {
    .item {
        flex-basis: calc(45% - 20px);
    }
}

/* Una Columna */
@media screen and (min-width: 0px) and (max-width: 450px) {
    .item {
        flex-basis: calc(100% - 20px);
    }
}

/* aqui el encabezado */

.header {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}


.title {
    position: absolute;
    top: 1%;
    left: 39%;
    transform: translateY(-50%);
    font-size: 3.3em;
    font-family: 'Lobster', cursive;
    color: #9B8070;
    background: rgba(255, 255, 255, 0.3);
    padding: 3px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.title span {
    color: #9B8070;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: auto;
    opacity: 0.8;
    border-radius: 20%;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.nav-bar {
    background-color: #a18a7c;
    /* Color café */
    margin-top: -194px;
    /* Mueve la barra más arriba */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Roboto Slab', serif;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 60px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.search-box {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 15px;
    border-radius: 20px;
}

.search-input {
    border: none;
    background: none;
    font-family: 'Lobster', cursive;
    font-size: 1em;
    color: white;
    outline: none;
}

.search-btn {
    border: none;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
}

/* fin encabezado */