/* Estilos Generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.navbar {
    background-color: #a18a7c;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.navbar .logo {
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search-box input {
    padding: 10px;
    font-size: 1em;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 10px;
    background-color: #f8f7f6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
}

/* Resultados de búsqueda */
.search-results h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px;
    color: #333;
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    /* Asegura que las recetas se ajusten a la fila */
    justify-content: space-around;
    gap: 20px;
    /* Espacio entre las tarjetas */
    padding: 20px;
}

.recipe-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 18%;
    /* Controla el ancho de cada tarjeta para que haya 5 por fila */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
    /* Agrega espacio debajo de cada tarjeta */
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card img:hover {
    transform: scale(1.1);
}

.recipe-info {
    padding: 15px;
    text-align: center;
}

.recipe-info h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #333;
}

.recipe-info p {
    font-size: 1em;
    color: #777;
}

/* Para los botones */
.search-btn {
    background-color: #f39c12;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #e67e22;
}