.receta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.imagen-receta {
    position: relative;
    text-align: center;
}

.imagen-receta img {
    width: 100%;
    border-radius: 10px;
}

.valoracion {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 215, 0, 0.9);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.detalles-receta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-receta {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #d32f2f;
}

.contenido-receta {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
}

.ingredientes, .tips {
    flex: 1;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 10px;
}

.imagenes-receta {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagenes-receta img {
    width: 100%;
    border-radius: 10px;
}

.preparacion {
    grid-column: span 2;
    padding: 20px;
    background: #fff3e0;
    border-radius: 10px;
}


/* lo normal */

.Video {
    display: flex; 
    justify-content: space-between; /* Separa el video y el botón */
    align-items: flex-start; /* Alinea los elementos hacia arriba */
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px; 
}


.btn-favoritos {
    background-color: #A3B18A; 
    color: white; 
    font-size: 1.2em; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;

}

.btn-favoritos:hover {
    background-color: #8a9a7a; /* Cambia el color de fondo al pasar el mouse */
}


.Preparacion{
font-size: 1.5em;
color: white;
margin: 10px;
padding: 20px;
background-color: #A3B18A; /* Fondo solo para la lista */
padding: 10px; /* Añade un poco de padding para que se vea mejor */
border-radius: 8px; /* Opcional: bordes redondeados */
list-style-position: inside;
}

.ContainerTitulo {
    width: 100%;
    text-align: center; /* Centra la imagen horizontalmente */
}

.ContainerIngredienteTexto{
    position:relative;
    margin-left: 40%;
    justify-content: center;
}




.Video{
    padding:20px;
    
}

.Ingredientes {
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap 

}

.ListaIngredientes {
    color: white;
    width: 40%;
    background-color: #A3B18A; /* Fondo solo para la lista */
    padding: 10px; /* Añade un poco de padding para que se vea mejor */
    border-radius: 8px; /* Opcional: bordes redondeados */
    list-style-position: inside;
}

.ImgIngredientes {
    width: 50%;
    max-height: 40%;
    background-color: #A3B18A; /* Fondo solo para la imagen */
    padding: 10px; /* Añade un poco de padding para que se vea mejor */
    border-radius: 10%; /* Opcional: bordes redondeados */
}

body {
    background-color: white;
}

