<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Recetas - Blog de Recetas</title>

    <link rel="stylesheet" href="../../static/css/PieDePagina.css">

    <link rel="stylesheet" href="../../static/css/Encabezado.css">

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../../static/css/Favoritos.css">

</head>



<body>
    <!-- Header -->
    <header class="header position-relative w-100 overflow-hidden">
        <div class="banner position-relative w-100 h-100">
            <!-- Título -->
            <h1
                class="title position-absolute top-0 start-50 translate-middle-x fs-1 fw-bold font-lobster text-center text-brown bg-white bg-opacity-30 p-2 rounded d-flex align-items-center gap-2">
                Recetitas <span>Blog</span>
            </h1>
            <!-- Logo -->
            <img src="../../static/img/logo.png" alt="Logo Recetitas" class="logo position-absolute top-0 end-0 m-2">
        </div>
    </header>

         <!-- Barra de navegación -->
         <nav class="nav-bar navbar navbar-expand-lg navbar-light bg-brown py-3">
            <div class="container-fluid">
                <!-- Enlaces de navegación -->
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
  
                    <a class="nav-btn" href="{{ url_for('index') }}">Inicio</a>
                  
                    <div class="dropdown">
                      <a class="nav-btn dropdown-toggle" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Mi Perfil
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('perfil') }}">Mi Perfil</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('favoritos') }}">Favoritos</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('historial') }}">Historial</a></li>
                      </ul>
                    </div>
                  
                    <a class="nav-btn" href="{{ url_for('subir') }}">Subir Receta</a>
                    <a class="nav-btn" href="{{ url_for('tienda') }}">Tienda Oficial</a>
                    <a class="nav-btn" href="{{ url_for('login') }}">Iniciar Sesion</a>
                    <a class="nav-btn" href="{{ url_for('resultados') }}">Buscador</a>
                  
                  </div>
                <!-- Caja de búsqueda -->
                <p class = "Bienvenida">{% if current_user.is_authenticated %}
                    Bienvenido, {{ current_user.username }}!
                    {% endif %} </p>
                </form>
            </div>
        </nav>

    <section class="favoritos-container">
        <div class="previsualizacion">
            <div class="imagen-container">
                <button class="btn-eliminar">&#128465;</button>
                <img src="../../static/img/ramen.jpg" alt="Imagen de la receta">
            </div>
            <p>
            <p>
            <h2>Ramen Clasico</h2>
            <p class="autor">Teresa Tus Recetas</p>
            <div class="informacion">
                <p>¡Hola, mis queridos ramen-lovers! Hoy les traigo una receta que no solo es deliciosa, sino también
                    una aventura: ramen casero. Sí, esos fideitos mágicos que vienen en paquetitos sospechosos tienen
                    una versión casera que es mil veces mejor. ¡Y acá te la enseño!

                    Vamos a hacer un viaje directo a Japón, descubrir su historia, curiosidades, y sobre todo, ¡aprender
                    a preparar un ramen espectacular desde cero! ¿Listos? ¡Vamos con ello!
                </p>

            </div>
        </div>

        <div class="separador"></div>

        <div class="lista-favoritos">
            <h2>Favoritos</h2>
            <div class="favorito">
                <img src="../../static/img/ramen.jpg" alt="Nombre receta">
                <div class="info-favorito">
                    <h3 class="nombre-receta">Ramen Clasico</h3>
                    <p class="creador">Teresa Tus Recetas</p>
                </div>
            </div>
            <div class="favorito">
                <img src="../../static/img/filete.jpg" alt="Nombre receta">
                <div class="info-favorito">
                    <h3 class="nombre-receta">Filete Clasico</h3>
                    <p class="creador">La Capital</p>
                </div>
            </div>
            <div class="favorito">
                <img src="../../static/img/lasaña.jpg" alt="Nombre receta">
                <div class="info-favorito">
                    <h3 class="nombre-receta">Filete Clasico</h3>
                    <p class="creador">La Capital</p>
                </div>
            </div>
            <div class="favorito">
                <img src="../../static/img/pozole.jpg" alt="Nombre receta">
                <div class="info-favorito">
                    <h3 class="nombre-receta">Pozole Mexicano</h3>
                    <p class="creador">La Capital</p>
                </div>
            </div>
            <div class="favorito">
                <img src="../../static/img/tacos.jpg" alt="Nombre receta">
                <div class="info-favorito">
                    <h3 class="nombre-receta">Tacos Mexicanos</h3>
                    <p class="creador">Recetas Mexicanas</p>
                </div>
            </div>
            <div class="favorito">
                <img src="../../static/img/tacosalpastor.jpg" alt="Nombre receta">
                <div class="info-favorito">
                    <h3 class="nombre-receta">Tacos al Pastor</h3>
                    <p class="creador">La Capital</p>
                </div>
            </div>
        </div>
    </section>


</body>

<footer>
    <div class="pdpIzq">
        <p>¿Quienes somos?</p>
        <p>Somos un blog público de recetas</p>
        <p>Nuestro proposito es ayudar a aprender a cocinar a los usuarios</p>
    </div>

    <div class="pdpcontactanos">
        <p>Siguenos en redes sociales</p>
        <div class="pdpcontenedorimagenes">
            <div class="pdpImg">
                <img src="../../static/img/facebook-new.png" alt="Facebook">
            </div>
            <div class="pdpImg">
                <img src="../../static/img/Twitter.png" alt="Twitter">
            </div>
            <div class="pdpImg">
                <img src="../../static/img/Instagram.jpg" alt="Twitter">
            </div>
        </div>
    </div>

    <div class="pdpderecha">
        <p>Encuentranos en:</p>
        <p>Rio Pantitlan 4632, Colonia Americas 25843, Méxicali, Baja California, México.</p>
        <p>Contacto: +52 686 323 7433</p>
        <p><a class="HipertextoFooter" href="{{url_for('formulario')}}">Manda un mensaje a los desarrolladores</a></p>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</footer>

</html>